.category {
  background-color: rgb(255, 129, 0);
  height: 15px;
  padding: 3px;
  border-radius: 5px;
  color: white;
  font-size: 10px;
  display: flex;
  justify-content: space-around;
}

.item-card:hover {
  cursor: pointer;
}

.price-cart {
  display: flex;
  justify-content: space-between;
}

.individual-card {
  height: 420px;
}

.cart-icon:hover {
  cursor: pointer;
  color: rgb(255, 129, 0);
}

.card-content {
  display: flex;
  flex-direction: column;
  align-items: space-between;
}
